@use "variables" as *

.hero
  .hero__image-left
    display: flex
    justify-content: center
    align-content: center
    overflow: hidden
    img
      max-width: 115%
  @media (min-width: 30rem)
    .wrapper
      .btn-group
        flex-direction: row
        justify-content: center
        .btn 
          margin: 0

.main__section-number
  position: relative
  display: flex
  justify-content: center
  align-items: center
  margin-top: 80px
  &:first-child::before
    top:-80px
    content: ""
    height: 80px
    position: absolute
    border: 1px solid $clr-neutral-600
  color: $clr-neutral-600
  border: 1px solid $clr-neutral-600
  border-radius: 50%
  width: 56px
  height: 56px

.main__subheading
  color: $clr-primary-600
