@use "variables" as *

body
  display: flex
  flex-direction: column
  align-items: center
  margin: 0
  nav
    margin-top: clamp($spacer-600, calc(1rem + 7vw), $spacer-1000)
  .hero
    .hero__image-left
      display: flex
      justify-content: center
      align-content: center
      overflow: hidden
      img
          max-width: 115%
    .hero__image-right
      display: none
  main
    .main__image-collage
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 1rem
      img
        border-radius: 8px
@media (min-width: 48rem)
  body
    main
      max-width: 80rem
      .main__image-collage
        grid-template-columns: repeat(4, 1fr)
        margin-top: 4rem
      .main__text-content
        max-width: 40rem
        

@media (min-width: 62rem)
  body
    .hero
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      gap: clamp(0.5rem, calc(1rem + 1vw), 3rem)
      .hero__text-content
        margin: 0
        min-width: 24rem
      .hero__image-left,
      .hero__image-right
        display: flex
        justify-content: right
        align-items: center
        overflow: hidden
        transform-origin: right bottom
        img
          max-width: none
      .hero__image-right
        justify-content: left
        transform-origin: left top

@media (min-width: 80rem)
  body
    .hero
      overflow-x: clip
      .hero__image-left,
      .hero__image-right
        transform: scale(1.2)
        

        