@use "variables" as *

body
  display: flex
  flex-direction: column
  align-items: center
  margin: clamp($spacer-600, calc(1rem + 7vw), $spacer-1000) 0 0 0
  .hero
    .hero__image-right
      display: none
  main
    .main__image-collage
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 1rem
      img
        border-radius: 8px

@media (min-width: 48rem)
  body
    main
      max-width: 80rem
      .main__image-collage
        grid-template-columns: repeat(4, 1fr)
        margin-top: 4rem
      .main__text-content
        max-width: 40rem
        h2
        

@media (min-width: 62rem)
  body
    .hero
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      .hero__text-content
        margin: 0
        min-width: 24rem
      .hero__image-left,
      .hero__image-right
        display: flex
        justify-content: right
        overflow: hidden
        img
          max-width: none
      .hero__image-right
        justify-content: left